/// Helpers to remove default styles from common elements

%unset {
  all: unset;
}

%plain-list {
  margin: 0;
  padding: 0;
  list-style: ''; // Preserve list semantics in Safari.
}

%plain-details-summary {
  // Hide default disclosure indicator
  &::-webkit-details-marker {
    display: none;
  }
  &::marker {
    content: '';
  }
}

%plain-details {
  > summary {
    @extend %plain-details-summary;
  }
}
