---
name: Lint

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches: ['*']

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with: { bun-version: latest }

      - name: Install NPM packages
        run: bun install --frozen-lockfile --no-save

      - name: Lint code
        run: bun run lint

      - name: Build package
        run: bun run build
